.Headers {
    background-color: grey;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.accode-container-dropdown {
    position: absolute;
    z-index: 1;
    width: 161px;
    min-height: auto;
    max-height: 200px;
    background: grey;
    overflow-y: auto;
}

.accode {
    padding: 7px;
    font-family: sans-serif;
}

.accode:hover {
    background-color: white;
}

.right {
    text-align: right;
}

.tableFooter {
    border: 2px solid black;
    width: 300px;
}