<table id="myTable" (keyup.enter)="addNewRow()">
    <thead>
        <tr class="Headers">
            <th>AcCode</th>
            <th>Title</th>
            <th>Description</th>
            <th>Credit</th>
            <th>Debit</th>
        </tr>
    </thead>


    <tr *ngFor="let row of newRow; index as i" id="{{i}}" (keyup.delete)="deleteRow(i)">
        <td><input #accode [(ngModel)]="row.accode" (keyup)="searchData($event)" (focus)="toggleDropdown(i)" class="form-control" type="text" id="accode-{{i}}"></td>
        <td><input #title [(ngModel)]="row.title" class="form-control" type="text" id="tilte-{{i}}"></td>
        <td><input #desc [(ngModel)]="row.desc" class="form-control " type="text" id="description-{{i}}"></td>
        <td><input #credit [(ngModel)]="row.credit" (keyup)="disableDebit($event)" (blur)="creditSum($event)" class="form-control right" type="number" id="credit-{{i}}"></td>
        <td><input #debit [(ngModel)]="row.debit" (blur)="debitSum($event)" class="form-control right" type="number" id="debit-{{i}}" [disabled]="isDisabled"></td>
    </tr>
    <div *ngIf="showDropDown" class="accode-container-dropdown">
        <div #dropdown (click)="selectValue(accTitle)" class="accode" *ngFor="let accTitle of codeTitle">
            {{accTitle.accode +' ' + accTitle.title}}
        </div>
    </div>
    <!-- Description.toArray()[i].nativeElement.focus(); -->
    <tfoot class="tableFooter">
        <tr>
            <td><strong>Sum</strong></td>
            <td></td>
            <td></td>
            <td class="right"> {{sumCredit}}</td>
            <td class="right">{{sumDebit}}</td>
        </tr>
    </tfoot>
</table>



<footer>

</footer>