<div class="card" style="width: 20rem;">
    <h2>Login</h2>
    <form #lform="ngForm" (ngSubmit)="onSubmit(lform)">
        <div class="form-group">
            <label for="userName">Username</label>
            <input required #username [(ngModel)]='lform.username' name="userName" type="text" id="userName" class="form-control">
            <div class="alert alert-danger" *ngIf="username.touched && username.invalid">username is required</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input required #password [(ngModel)]='lform.password' name="password" type="password" id="password" class="form-control">
            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">Please enter password</div>
        </div>
        <div *ngIf="authenticationFlag" class="alert alert-danger">Username or password is incorrect.</div>

        <div class="form-group">
            <button class="btn btn-primary" [disabled]="!lform.valid" type="submit">Login</button>

        </div>

    </form>
</div>